.blogs {
  background-color: #171717;
  width: 100%;
  height: 75rem;
  padding-bottom: 5rem;
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .blog-heading {
    width: 80%;
    align-items: flex-start;
    padding: 4rem 0;
    padding-left: 2rem;
    h1 {
      font-family: Ivy Mode;
      font-style: normal;
      font-weight: normal;
      color: #fff;
      font-size: 5.5rem;
    }
  }
  .blogs-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    .blog1 {
      grid-column: 1 / 3;

      img {
        width: 42rem;
        height: 25rem;
      }
    }
    .blog2 {
      img {
        height: 20rem;
        width: 20rem;
      }
    }
    .blog3 {
      img {
        width: 20rem;
        height: 15rem;
      }
    }
    .blog4 {
      img {
        width: 20rem;
        height: 15rem;
      }
    }
    .blog5 {
      margin-top: -5rem;
      img {
        height: 20rem;
        width: 20rem;
      }
    }
  }
}
@media (max-width: 1024px) {
  .blogs {
    .blogs-grid {
      .blog1 {
        img {
          width: 32rem;
          height: 20rem;
        }
      }
      .blog2 {
        img {
          height: 15rem;
          width: 15rem;
        }
      }
      .blog3 {
        img {
          width: 15rem;
          height: 10rem;
        }
      }
      .blog4 {
        img {
          width: 15rem;
          height: 10rem;
        }
      }
      .blog5 {
        margin-top: -5rem;
        img {
          height: 15rem;
          width: 15rem;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .blogs {
    .blogs-grid {
      .blog1 {
        img {
          width: 22rem;
          height: 15rem;
        }
      }
      .blog2 {
        img {
          height: 10rem;
          width: 10rem;
        }
      }
      .blog3 {
        img {
          width: 10rem;
          height: 5rem;
        }
      }
      .blog4 {
        img {
          width: 10rem;
          height: 5rem;
        }
      }
      .blog5 {
        margin-top: -5rem;
        img {
          height: 10rem;
          width: 10rem;
        }
      }
    }
  }
}
