.menu-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // z-index: 100;
  .menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #292929;
    height: 27rem;
    width: 100%;
    cursor: pointer;
    padding: 3rem 0;
    .menu-inner {
      color: #fff;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 2rem;
        color: #ef1b1c;
        font-family: Ivy Mode;
        font-weight: normal;
        text-decoration: underline;
        text-underline-offset: 1rem;
      }
      a {
        color: #fff;
        padding: 1rem 0;
        text-decoration: none;
        font-weight: bold;
      }
    }
    .menu-inner {
      width: 15%;
      // height: 40rem;
      h2 {
        padding-bottom: 2.5rem;
      }
    }
  }
}
