.homeslider-center {
  display: flex;
  height: 130vh;
  justify-content: space-evenly;
  align-items: center;
  .homeslider-heading {
    width: 30vw;
    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 4rem;
      color: #fff;
    }
    h1 {
      font-family: Ivy Mode;
      font-style: normal;
      font-weight: normal;
      font-size: 4rem;
      line-height: 7rem;
      letter-spacing: 0.04em;
      color: #fff;
    }
  }
  .homeslider-content {
    width: 30vw;
    p {
      padding-left: 1.8rem;
      color: #fff;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 1.3rem;
      line-height: 2rem;
      text-align: justify;
    }
  }
}
.homeslider {
  margin-left: -18rem;
  .indicator-after {
    position: relative;
    &:after {
      position: absolute;
      background-color: red;
      content: "";
      top: 5rem;
    }
  }
}
.homeslider-legacy {
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
  p {
    width: 30rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    padding-left: 4.5rem;
    text-align: justify;
    color: #fff;
  }
  h1 {
    width: 35vw;
    font-family: Ivy Mode;
    font-style: normal;
    font-weight: normal;
    font-size: 5.5rem;
    line-height: 7.5rem;
    letter-spacing: 0.04em;
    color: #fff;
  }
}
@media (max-width: 1124px) {
  .homeslider-center {
    .homeslider-heading {
      h2 {
        font-size: 1rem;
      }
      h1 {
        // width: vw;
        font-size: 3rem;
        line-height: 3.5rem;
      }
    }
    .homeslider-content {
      p {
        font-size: 0.9rem;
        line-height: 1.2rem;
      }
    }
  }
  .homeslider-legacy {
    padding: 0 7rem;
    h1 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
    p {
      font-size: 0.9rem;
      line-height: 1.2rem;
      padding-left: 0;
    }
  }
}

@media (max-width: 1304px) {
  .homeslider-center {
    .homeslider-heading {
      h2 {
        font-size: 1.5rem;
      }
      h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }
    }
    .homeslider-content {
      p {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }
  .homeslider-legacy {
    // padding: 0 7rem;
    margin-left: 2rem;
    h1 {
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.2rem;
      padding-left: 0;
      width: 22rem;
    }
  }
}
