.interwood-about {
  .about-name1 {
    .text3 {
      color: #ef1b1c;
      padding: 0.75rem 0;
      font-size: 2rem;
      font-family: Ivy Mode;
    }
    .text4 {
      color: #fff;
      padding: 0.75rem 0;
      font-size: 2rem;
      font-family: Ivy Mode;
    }
  }
}
