.alexia {
  background-image: url("./img/ALEXIA\ KITCHEN\ NO\ 4.png");
}
.andrea {
  background-image: url("./img//ANDREA\ KITCHEN\ NO\ 3.png");
}
.cecilia {
  background-image: url("./img//CECILIA\ KITCHEN\ NO\ 2.jpg");
}
.erika {
  background-image: url("./img/ERIKA\ KITCHEN\ NO.1.png");
}
.montana {
  background-image: url("./img/MONTANA\ KITCHEN\ NO.3.png");
}
