.footer {
  width: 100%;
  height: 30rem;
  display: flex;
  background-color: #171717;
  justify-content: space-evenly;
  color: #fff;
  margin-top: 4rem;
  padding: 7rem 0;
  align-items: flex-start;
  flex-wrap: wrap;
  .footerlogo {
    .footer-socials {
      padding: 2rem 0;
      display: flex;
      img {
        height: 1.5rem;
        width: 2.5rem;
        padding: 0 0.5rem;
      }
    }
  }
  .footer-quicklinks {
    display: flex;
    flex-direction: column;
    h2 {
      font-family: Ivy Mode;
      font-style: normal;
      font-weight: normal;
      padding: 1rem 0;
      font-size: 2rem;
    }
    a {
      color: #fff;
      padding: 0.5rem 0;
      text-decoration: none;
    }
  }
  .footer-address {
    h2 {
      font-family: Ivy Mode;
      font-style: normal;
      font-weight: normal;
      font-size: 2rem;
      padding: 1rem 0;
    }
  }
  .footer-contact {
    font-family: Ivy Mode;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 2rem;
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: normal;
      font-size: 1.3rem;
      padding: 1rem 0;
      line-height: 1.3rem;
    }
    .footer-contact-input {
      padding: 1.5rem 0;
      display: flex;
      justify-content: center;

      input {
        border-style: none;
        background: #424242;
        // height: 3rem;
        height: 2.6rem;
        width: 18rem;
        border-radius: 7px;
      }
      button {
        height: 2.5rem;
        width: 3rem;
        margin-left: 0.5rem;
        border: none;

        border-radius: 0.5rem;
        background-color: #424242;
      }
    }
  }
}
@media (max-width: 1024px) {
  .footer {
    height: 100vh;
    .footer-contact {
      margin-top: 3rem;
    }
  }
}
@media (max-width: 768px) {
  .footer {
    height: 130vh;
    padding: 0;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    .footer-contact {
      margin-top: 3rem;
    }
  }
}
