.testimonials {
  height: 130vh;
  width: 100%;
  background-color: #171717;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // align-items: center;
  padding: 5rem 0;
  h1 {
    color: white;
    font-size: 5.5rem;
    padding-top: 4rem;
    padding-left: 7.5rem;
    line-height: 3rem;
    align-items: flex-start;
    font-family: Ivy Mode;
    font-style: normal;
    font-weight: normal;

    text-align: justify;
    letter-spacing: 0.04em;
  }
  .slider {
    margin-top: -5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    li.slick-active button {
      display: none;
    }
  }
}
@media (max-width: 1024px) {
  .testimonials {
    height: 100vh;
    padding: 3rem 0;
    h1 {
      font-size: 4rem;
    }
  }
}
@media (max-width: 768px) {
  .testimonials {
    padding: 2rem 0;
    height: 100vh;
    h1 {
      font-size: 3rem;
      margin-left: 1.5rem;
    }
    .slider {
      div {
        display: flex;
        justify-content: center;
      }
    }
  }
}
