.wardrobedetails {
  padding: 5rem 7rem;
  h1 {
    font-size: 4rem;
    font-family: Ivy Mode;
    color: #fff;
    width: 20rem;
  }
  p {
    font-size: 1.2rem;
    color: #fff;
    width: 20rem;
    text-align: justify;
  }
}
