@tailwind base;
@tailwind components;
@tailwind utilities;
.offcanvas-body {
  padding: 0 0;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("./burger.svg");
  /* &:hover {
    border: none;
  } */
}
