.ourbrand {
  width: 100%;
  padding-top: 5rem;
  .brandyoutube {
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    iframe {
      width: 70rem;
      height: 50rem;
    }
  }
  .ourbrand-title {
    display: flex;
    padding: 2rem 6rem;
    justify-content: flex-start;

    h1 {
      font-size: 5rem;
      color: #fff;
      font-family: Ivy Mode;
      font-style: normal;
      font-weight: normal;
    }
  }
  .ourbrand-images {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 80%;s
    .ourbrand-grid {
      padding-top: 5rem;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 2rem;
      .brand1 {
        grid-row: 1 / 3;
        img {
          height: 35rem;
        }
      }
      .brand {
        img {
          width: 18rem;
        }
      }
    }
    .ourband-arrow {
      width: 15rem;
    }
  }
}
@media (max-width: 1250px) {
  .ourbrand {
    .ourbrand-title {
      h1 {
        padding-left: 3.5rem;
      }
    }
    .brandyoutube {
      iframe {
        width: 55rem;
        height: 45rem;
      }
    }
    .ourbrand-images {
      .ourbrand-grid {
        padding-top: 2rem;
        .brand1 {
          img {
            height: 28rem;
          }
        }
        .brand {
          img {
            width: 14rem;
          }
        }
      }
      .ourband-arrow {
        width: 10rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .ourbrand {
    .brandyoutube {
      padding-top: 8rem;
      iframe {
        width: 40rem;
        height: 40rem;
      }
    }
    .ourbrand-images {
      .ourbrand-grid {
        .brand1 {
          img {
            height: 21rem;
          }
        }
        .brand {
          img {
            width: 10rem;
          }
        }
      }
      .ourband-arrow {
        width: 8rem;
      }
    }
  }
}
